.infoBox {
    flex: 1;
  }
  
  .infoBox:not(:last-child) {
    margin-right: 10px;
  }
  
  .infoBox--selected {
    border-top: 10px solid rgb(55, 82, 14);
  }
  
  .infoBox--red {
    border-color: rgb(117, 0, 0);
  }
  
  .infoBox__cases--green {
    color: #146414 !important;
  }
  
  .infoBox__cases {
    color: #7a091e;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox__total {
    color: #333a41;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }